{% extends 'PersonalAccountBundle:Student:base.html.twig' %}

{% block body %}
    <div class="note">
        <div id="rectangle1"></div>
        <span> - Не был</span>
        <div id="rectangle2"></div>
        <span> - Был</span>
    </div>
    <div id="calendar"></div>
{% endblock %}
{% block javascripts %}
    <script src ="{{ asset('js/show_schedule.js') }}"></script>
    <script>var events_load_url = '{{ events_load_url }}'</script>
{% endblock %}
{% block stylesheets %}
    <style>
        #rectangle1, #rectangle2 {
            width:30px;
            height:20px;
            display: inline-block;
            vertical-align: middle;
        }
        #rectangle1 {
            background: blue;
        }
        #rectangle2 {
            background: green;
        }
        .note {
            margin: 0 0 20px;
        }
        .note span {
            padding: 10px 10px 10px 0;
        }
    </style>
{% endblock %}