{% extends 'PersonalAccountBundle:Student:base.html.twig' %}

{% block body %}
    <div class="note">
        <div id="rectangle1"></div>
        <span> - Не был</span>
        <div id="rectangle2"></div>
        <span> - Был</span>
    </div>
    <div id="calendar"></div>
    <div id="calendarModal" class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span> <span class="sr-only">close</span></button>
                    <h4 id="modalTitle" class="modal-title"></h4>
                </div>
                <div id="modalBody" class="modal-body"></div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Закрыть</button>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block javascripts %}
    <script src ="{{ asset('js/show_schedule.js') }}"></script>
    <script>var events_load_url = '{{ events_load_url }}'</script>
{% endblock %}
{% block stylesheets %}
    <style>
        #rectangle1, #rectangle2 {
            width:30px;
            height:20px;
            display: inline-block;
            vertical-align: middle;
        }
        #rectangle1 {
            background: blue;
        }
        #rectangle2 {
            background: green;
        }
        .note {
            margin: 0 0 20px;
        }
        .note span {
            padding: 10px 10px 10px 0;
        }
    </style>
{% endblock %}